// INIT SCSS FILE

// colors
$color_dark_0: rgb(6, 6, 6);
$color_dark_1: rgb(16, 16, 16);
$color_dark_2: rgb(26, 26, 26);
$color_dark_3: rgb(36, 36, 36);
$color_dark_4: rgb(46, 46, 46);

$color_text: rgb(255,255,255);
$color_text_button: #1ab26b;