// BUTTONS
.buttons {
	padding-bottom: 0;

	& > * {
		padding: calc(2px + 0.5vw);
		margin: auto 0 0 0;
	}
}
.button,
.buttons > * {
	cursor: pointer;
	font-size: calc(12px + 0.4vw);
	margin-top: calc(5px + 0.2vw);
    padding: calc(2px + 0.5vw);
    display: inline-block;

	&:hover,
	&:hover * {
		color: $color_text_button;
		background-color: $color_dark_4;
		transition: 0.5s;
	}

	i {
		margin-right: calc(4px + 0.2vw);
	}
}

@keyframes loader {
	50% {
		background-size: 80%;
	}
	100% {
		background-position: 125% 0;
	}
}

.loader {
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, #1ab26b, #1ab26b);
	margin: auto;
	border-radius: 4px;
	background-size: 20%;
	background-repeat: repeat-y;
	background-position: -25% 0;
}

.loader.active {
	animation: loader 3s ease-in-out infinite;
}