@charset "UTF-8";
* {
  margin: 0;
  text-decoration: none;
  font-family: "Pontano Sans", sans-serif;
  color: white;
  background-color: #101010;
}

h1 {
  font-family: "Kufam", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* text */
p {
  font-size: calc(12px + 0.3vw);
}

/* skryté */
.hidden {
  /*display: none;*/
}

header .button,
header .buttons > * {
  margin-top: 0;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

header div > .in-header {
  margin: calc(10px + 0.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div > .in-header * {
  font-weight: 700;
  color: #1ab26b;
}

header div > .page-name {
  cursor: context-menu;
}

header div > .page-name > .favicon {
  background: transparent;
  height: calc(22px + 1vw);
  font-size: calc(20px + 0.8vw);
  margin-left: 5px;
}

header div > .page-name:hover > .favicon {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

header div > .page-name > h1 {
  font-size: calc(13px + 0.8vw);
}

header div > .div-user {
  margin-left: auto;
  position: relative;
  display: inline;
}

header div > .div-user > .m-hover {
  display: none;
  position: absolute;
  width: 100%;
  text-align: left;
  margin: 0;
}

header div > .div-user > .m-hover.show {
  display: block;
}

header div > .div-user > .m-hover > * {
  display: block;
  background-color: #1e1e1e;
}

header div > .div-user > .m-hover > *:hover {
  background-color: #2e2e2e;
}

header div > .div-user > .m-hover > *:hover ~ .div-login {
  background-color: yellow !important;
}

header div > .div-user .b-login {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 70px;
}

header div > .div-user .b-login:hover, header div > .div-user .b-login.hover {
  background-color: #1e1e1e;
}

header div > .div-user .b-login:hover *, header div > .div-user .b-login.hover * {
  background-color: #1e1e1e;
}

header div > .div-user:hover .m-hover {
  display: block;
}

header div > .div-user:hover .m-hover.hidden {
  display: none;
}

main > .m-date {
  overflow: hidden;
  width: 120px;
  height: 80vh;
  display: inline-block;
}

main > .m-date:hover {
  overflow: auto;
}

main > .m-date > a {
  width: calc(120px - 5px - 0.2vw);
}

main > .m-date > .m-months > a {
  text-align: left;
  padding-left: calc(50px);
  width: calc(90% - 50px);
}

main > .content {
  height: 80vh;
  width: 100%;
}

main > .content > .c-releases {
  width: calc(100% - 150px);
  overflow: auto;
  height: 70vh;
  width: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=layout.css.map */