@charset "UTF-8";
* {
  margin: 0;
  text-decoration: none;
  font-family: "Pontano Sans", sans-serif;
  color: white;
  background-color: #242424;
}

h1 {
  font-family: "Kufam", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* text */
p {
  font-size: calc(12px + 0.3vw);
}

/* skryté */
.hidden {
  /*display: none;*/
}

header .button,
header .buttons > * {
  margin-top: 0;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

header div > .in-header {
  margin: calc(10px + 0.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div > .in-header * {
  font-weight: 700;
  color: #1ab26b;
}

header div > .page-name {
  cursor: context-menu;
  /*margin: auto 0;*/
}

header div > .page-name > .favicon {
  background: transparent;
  height: calc(22px + 1vw);
  font-size: calc(20px + 0.8vw);
  margin-left: 5px;
}

header div > .page-name:hover > .favicon {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

header div > .page-name > h1 {
  font-size: calc(13px + 0.8vw);
}

header div > .div-user {
  margin-left: auto;
  position: relative;
  display: inline;
}

header div > .div-user > .menu-hover {
  /*display: block;*/
  display: none;
  position: absolute;
  width: 100%;
  text-align: left;
  margin: 0;
}

header div > .div-user > .menu-hover.show {
  display: block;
}

header div > .div-user > .menu-hover > * {
  display: block;
  background-color: #1e1e1e;
}

header div > .div-user > .menu-hover > *:hover {
  background-color: #2e2e2e;
}

header div > .div-user > .menu-hover > *:hover ~ .div-login {
  background-color: yellow !important;
}

header div > .div-user .b-login {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 70px;
}

header div > .div-user .b-login:hover, header div > .div-user .b-login.hover {
  background-color: #1e1e1e;
}

header div > .div-user .b-login:hover *, header div > .div-user .b-login.hover * {
  background-color: #1e1e1e;
}

header div > .div-user:hover .menu-hover {
  display: block;
}

header div > .div-user:hover .menu-hover.hidden {
  display: none;
}

main > .menu-date {
  overflow: hidden;
  width: 150px;
  height: 80vh;
}

main > .menu-date:hover {
  overflow: auto;
}

main > .menu-date > nav {
  display: inline-block;
}

main > .menu-date > nav > a {
  width: 70%;
}

main > .menu-date > .menu-years > a {
  text-align: left;
  padding-left: calc(8px + 2vw);
}

main > .content {
  height: 80vh;
  width: 100%;
}

main > .content > .c-releases {
  width: calc(100% - 150px);
  overflow: auto;
  height: 70vh;
  width: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*.page-name img:hover~.page-name h1 {
    background-color: yellow;
}*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #565656;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}
/*# sourceMappingURL=layout.css.map */