@use 'init' as var;

// HLAVNÍ
* {
    margin: 0;
    text-decoration: none;
    font-family: "Pontano Sans", sans-serif;
    color: var.$color_text;
}

h1 {
    font-family: "Kufam", sans-serif;
}

main {
    display: flex;
}

/* text */
p {
    font-size: calc(12px + 0.3vw);
}

/* skryté */
.hidden {
    /*display: none;*/
}

// MAIN MENU

header {
    background-color: $color_dark_2;

    // butons
    .button,
    .buttons>* {
        margin-top: 0;
    }

    div {
        display: flex;
        text-align: right;

        // div in menu
        &>.in-header {
            margin: calc(10px + 0.5vw);
            display: flex;

            // title text
            & * {
                font-weight: 700;
                color: $color_text_button;
            }
        }

        // page name
        &>.page-name {
            cursor: context-menu;

            // ikona
            &>.favicon {
                background: transparent;
                height: calc(22px + 1vw);
                font-size: calc(20px + 0.8vw);
                margin-left: 5px;
            }

            &:hover>.favicon {
                animation: spin 2s linear infinite;
            }

            // název
            &>h1 {
                font-size: calc(13px + 0.8vw);
            }
        }

        // user menu
        &>.div-user {
            margin-left: auto;
            position: relative;
            display: inline;

            &>.m-hover {
                display: none;
                position: absolute;
                width: 100%;
                text-align: left;
                margin: 0;

                &.show {
                    display: block;
                }

                &>* {
                    display: block;

                    background-color: $color_dark_3;

                    _3 &:hover {
                        background-color: $color_dark_4;
                    }
                }
            }

            .b-login {
                display: inline-flex;
                min-width: 70px;

                &:hover,
                &.hover {
                    background-color: $color_dark_3;

                    * {
                        background-color: $color_dark_3;
                    }
                }
            }

            &:hover {
                .m-hover {
                    display: block;
                }

                .m-hover.hidden {
                    display: none;
                }
            }
        }
    }
}

// LEFT MENU

main {
    background-color: $color_dark_1;

    &>.m-date {
        overflow: hidden;
        width: 120px;
        height: 80vh;
        display: inline-block;

        &:hover {
            overflow: auto;
        }

        &>a {
            width: calc(120px - 5px - 0.2vw);
        }

        &>.m-months {
            &>a {
                text-align: left;
                padding-left: calc(50px);
                width: calc(90% - 50px);
            }
        }
    }

    &>.content {
        height: 80vh;
        width: 100%;

        &>.c-releases {
            width: calc(100% - 150px);
            overflow: auto;
            height: 70vh;
            width: 100%;
        }
    }
}

footer {
    background-color: $color_dark_2;
}

// ANIMACE

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}