* {
    margin: 0;
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    color: white;
    background-color: black;
}

main {
    display: flex;
}

/* text */
p {
    font-size: calc(12px + 0.3vw);
}

.hidden {
    //display: none;
}

// HORNÍ MENU

header {
    display: flex;
    text-align: right;

    .page-name, .b-login
    {
        margin: auto 0;
    }


    &>* {
        display: flex;
        padding: calc(10px + 0.5vw);

        // text názvů
        & * {
            font-size: calc(13px + 0.8vw);
            font-weight: 700;
            color: red;

        }
    }
    .buttons {        
        padding-bottom: 0;
        &>*
        {
            padding: calc(2px + 0.5vw);
            margin: auto 0 0 0;

        }
    }

    .button,
    .buttons>* {
        cursor: pointer;
        font-size: calc(12px + 0.4vw);

        &:hover {
            color: #1ab26b;
            background-color: rgb(46, 46, 46);
            transition: 0.5s;
        }
    }

    .page-name {
        cursor: context-menu;

        img {
            height: calc(22px + 1vw);
            font-size: calc(20px + 0.8vw);
        }
        &:hover img {            
            animation: spin 2s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.in-header>div i,
.in-header>.login img {
    line-height: normal;
    margin-right: calc(5px + 0.5vw);
    font-size: calc(20px + 1vw);
}

.in-header>.login {
    margin-left: auto;
}




@media screen and (max-width: 1000px) {
    header {
        .page-name h1 {
            display: none;
        }

        .b-login p {
            display: none;
        }
    }
}