.skrejto {
    //display: none;
}

// HLAVNÍ

* {
    margin: 0;
    text-decoration: none;
    font-family: "Pontano Sans", sans-serif;
    color: white;
    background-color: rgb(36, 36, 36);
}

main {
    display: flex;
}

body {
    margin: 0 calc(10px + 0.4vw);
    overflow: hidden;
}

/* text */
p {
    font-size: calc(12px + 0.3vw);
}

/* skryté */
.hidden {
    /*display: none;*/
}

// HORNÍ MENU

header {

    .button,
    .buttons>* {
        margin-top: 0;
    }

    div {
        display: flex;
        text-align: right;

        // v menu
        &>.in-header {
            margin: calc(10px + 0.5vw);
            // děti headeru
            display: flex;

            // text názvů
            & * {
                font-weight: 700;
                color: #1ab26b;
            }
        }

        // nadpis stránky
        &>.page-name {
            cursor: context-menu;
            /*margin: auto 0;*/

            // ikona
            &>.favicon {
                background: transparent;
                height: calc(22px + 1vw);
                font-size: calc(20px + 0.8vw);
                margin-left: 5px;
            }

            &:hover>.favicon {
                animation: spin 2s linear infinite;
            }

            // název
            &>h1 {
                font-size: calc(13px + 0.8vw);
            }
        }

        // uživatel (nastavení, přihlášení)
        &>.div-user {
            margin-left: auto;
            position: relative;
            display: inline;

            &>.menu-hover {
                /*display: block;*/
                display: none;
                position: absolute;
                width: 100%;
                text-align: left;
                margin: 0;

                &>* {
                    display: block;
                    background-color: rgb(30, 30, 30);

                    &:hover {
                        background-color: rgb(46, 46, 46);

                        &~.div-login {
                            background-color: yellow !important;
                        }
                    }
                }
            }

            .b-login {
                display: inline-flex;

                &:hover {
                    background-color: rgb(30, 30, 30);

                    * {
                        background-color: rgb(30, 30, 30);
                    }
                }
            }

            &:hover {
                .menu-hover {
                    display: block;
                }

                .menu-hover.hidden {
                    display: none;
                }
            }
        }
    }
}

// LEVÉ MENU

main {
    &>.menu-date {
        overflow: hidden;
        width: 150px;
        height: 80vh;

        // ??
        //resize: horizontal;
        &:hover {
            overflow: auto;
        }

        &>nav {
            display: inline-block;

            &>a {
                width: 70%;
            }
        }
        &>.menu-years>a {
            text-align: left;
            padding-left: calc(8px + 2vw);
        }
    }

    &>.content {
        height: 80vh;
        width: 100%;

        &>.c-releases {
            width: calc(100% - 150px);
            overflow: auto;
            height: 70vh;
            width: 100%;
        }
    }
}


// ANIMACE

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// RESPONZIVNÍ WEB

@media screen and (max-width: 1000px) {
    header {
        .page-name h1 {
            display: none;
        }

        .b-login p {
            display: none;
        }
    }
}

// TESTUJI

/*.page-name img:hover~.page-name h1 {
    background-color: yellow;
}*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(86, 86, 86);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(106, 106, 106);
}