* {
    margin: 0;
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    color: white;
}

body, .years li {
    background-color: rgb(36, 36, 36);
}

main {
    display: flex;
}

p {
    font-size: calc(12px + 0.3vw);
}

.in-body {
    display: block;
    width: 100%;
}
main .in-body {    
    margin: calc(10px + 0.3vw) calc(20px + 1vw);
}

.album, .years a:hover, .months li, .selected-month, .selected-year {
    background-color: rgb(26, 26, 26);
}

main, .months a:hover, .current-month, .current-year {
    background-color: rgb(18, 18, 18);
}

.in-header {
    display: flex;
}

.in-header h1 {
    cursor: context-menu;
}

.in-header h1, .in-header a {
    width: 50%;
    display: block;
    font-size: calc(13px + 0.8vw);
    padding: calc(20px + 0.5vw) calc(20px + 1vw);
    margin: auto 0;
}

.in-header h1, .in-header a:hover, .message, .title {
    color: #1ab26b;
}

.in-header a:hover, .album-actions>div:hover {
    background-color: rgb(46, 46, 46);
    transition: 0.5s;
}

.in-header a {
    text-align: right;
    cursor: pointer;
}

.nav-date {
    display: contents;
    overflow: auto;
    height: 100%;
}

.nav-date ul {
    list-style: none;
    padding: 0;
    display: block;
}

.nav-date li {
    display: block;
}

.nav-date a {
    font-size: calc(12px + 0.5vw);
    cursor: pointer;
    padding: 0.5vw 1vw;
    display: block;
}

.nav-date .years {
    overflow: auto;
}

.nav-date .months {
    display: none;
}

.nav-date .selected-month {
    display: block;
}

.in-main {
    padding: 2.4vw;
}

.message, .title {
    font-size: calc(12px + 0.7vw);
    margin-bottom: calc(5px + 1vw);
    text-transform: uppercase;
}

.title {
    letter-spacing: 3px;
}

.button {
    display: inline-block;
    margin-top: calc(5px + 1vw);
    padding: calc(2px + 0.5vw);
    cursor: pointer;
    font-size: calc(12px + 0.5vw);
}

.button i {
    margin-right: calc(3px + 0.3vw);
}

.button:hover, .button:hover i {
    color: #1ab26b;
    background-color: rgb(8, 8, 8);
    transition: 0.4s;
}

.album {
    padding: calc(5px + 1vw);
    margin-top: calc(5px + 1vw);
}

/*.album:hover {
    background-color: rgb(56, 56, 56);
}*/

.album-flex {
    display: flex;
}

.album-info * {
    margin-bottom: 0.3vw;
    text-align: left;
}
.album-info i:hover, .album-like.fas, .album-tracklist-visible, .current-year, .current-month {
    color: #1ab26b;
    transition: 0.3s;
}
.album-like.fas:hover {
    font-weight: 400;
    transition: 0.4s;
}

.album-info i {
    margin-bottom: 0;
    cursor: pointer;
}

.album img {
    max-width: 100%;
    max-height: 100%;
}

.album-info, .album-icons {
    display: inline;
}

.album-img {
    margin-right: calc(5px + 1vw);
    min-height: 85px;
    min-width: 85px;
    height: calc(70px + 3.5vw);
    /*width: calc(70px + 3.5vw);*/
    width: 9%;
}


.album h2 {
    font-size: calc(10px + 0.8vw);
}

.album h3 {
    font-size: calc(9px + 0.7vw);
}

.album-info p {
    font-size: calc(8px + 0.6vw);
}

.album-info i {
    font-size: calc(5px + 1.3vw);
    margin-right: calc(1px + 1vw);
}

.album-player {
    margin-top: 1vw;
    height: calc(100px + 50vw);
    max-height: 400px;
    width: 100%;
}

.top {
    width: calc(50px + 0.5vw);
    height: calc(50px + 0.5vw);
    border-radius: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(76, 76, 76);
    border: 0;
    position: fixed;
    bottom: calc(10px + 2vw);
    right: calc(10px + 2vw);
    display: none;
    padding: 0;
}

.top:hover {
    background-color: rgb(86, 86, 86);
}

.top i {
    font-size: calc(15px + 0.5vw);
}

footer p {
    text-align: center;
    padding: calc(10px + 1vw) 0;
}

.loader {
    display: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #1ab26b, #1ab26b);
    margin: auto;
    border-radius: 4px;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    animation: loader 3s ease-in-out infinite;
}

.albums-button, .tracks-button {
    display: none;
    /*display: inline-block;*/
}

@keyframes loader {
    50% {
        background-size: 80%;
    }
    100% {
        background-position: 125% 0;
    }
}

@media screen and (max-width: 1000px) {
    /*main {
        min-height: 150px;
    }*/
    .in-body {
        width: 100%;
    }
    .nav-date a {
        padding: 10px 15px;
    }
}

@media print {
    * {
        background: white !important;
        color: black !important;
    }
    header, footer {
        display: none;
    }
    .in-body {
        width: 100%;
    }
}