* {
    margin: 0;
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    color: white;
}

body, .year, .nav-mobile {
    background-color: rgb(36, 36, 36);
}

main {
    display: flex;
}

p {
    font-size: calc(12px + 0.3vw);
}

.in-body {
    display: block;
    /*width: 100%;*/
}

main .in-body {
    margin: calc(10px + 0.3vw) calc(20px + 1vw);
    width: calc(100% - 50px - 2vw);
}

.album, .year:hover, .months li, .selected-month, .selected-year, .settings-section {
    background-color: rgb(26, 26, 26);
}

main, .month:hover, .current-month, .current-year {
    background-color: rgb(18, 18, 18);
}

.in-header {
    display: flex;
}

.in-header .page-name {
    cursor: context-menu;
}

.in-header > div {
    display: flex;
    padding: calc(10px + 0.5vw) calc(20px + 1vw);
}
.in-header > div * {
    font-size: calc(13px + 0.8vw);
    margin: auto 0;
    font-weight: 700;
}

.in-header > div img {
    height: calc(22px + 1vw);
    font-size: calc(20px + 0.8vw);
}

.in-header > div i, .in-header > .login img {
    line-height: normal;
    margin-right: calc(5px + 0.5vw);
    font-size: calc(20px + 1vw);
}

.in-header > .login {
    margin-left: auto;
}

.in-header .page-name *, .in-header > div:hover *, .message, .title, .album-info a:hover *, .settings-section h3, .settings-section h3 * {
    color: #1ab26b;
}

.in-header > div:hover, .album-actions > div:hover {
    background-color: rgb(46, 46, 46);
    transition: 0.5s;
}

.in-header > div {
    text-align: right;
    cursor: pointer;
}

.nav-date ul {
    list-style: none;
    padding: 0;
    display: block;
}

.nav-date li {
    display: block;
}

.year {
    display: block;
}

.nav-hidden .nav-mobile {
    width: auto;
}

.nav-date a, .nav-mobile {
    font-size: calc(12px + 0.5vw);
    cursor: pointer;
    padding: 0.5vw 1vw;
    /*display: block;*/
    width: calc(50px + 2vw);
}

.year {
    text-align: end;
}

.nav-date .years {
    overflow: auto;
}

.nav-date .months {
    display: none;
}

.nav-date .selected-month {
    display: block;
}

.in-main {
    padding: 2.4vw;
}

.message, .title {
    font-size: calc(12px + 0.7vw);
    margin-bottom: calc(5px + 1vw);
    text-transform: uppercase;
}

.title {
    letter-spacing: 3px;
}

.button {
    display: inline-block;
    margin-top: calc(5px + 1vw);
    padding: calc(2px + 0.5vw);
    cursor: pointer;
    font-size: calc(12px + 0.5vw);
}

header .in-main {
    padding: 0;
    display: flex;
}

.nav-user {
    margin-left: auto;
}

header .in-main .button {
    margin-top: 0;
}

.button i {
    margin-right: calc(3px + 0.3vw);
}

.button:hover, .button:hover i {
    color: #1ab26b;
    background-color: rgb(8, 8, 8);
    transition: 0.4s;
}

.album {
    padding: calc(5px + 1vw);
    margin-top: calc(5px + 1vw);
}

/*.album:hover {
    background-color: rgb(56, 56, 56);
}*/

.album-flex {
    display: flex;
}

.album-info * {
    margin-bottom: calc(3px + 0.2vw);
    text-align: left;
}

.album-info i:hover, .album-info i:hover span, .album-like.fas, .album-tracklist-visible, .current-year, .current-month {
    color: #1ab26b;
    transition: 0.3s;
}

.album-like.fas:hover {
    font-weight: 400;
    transition: 0.4s;
}

.album-info i {
    margin-bottom: 0;
    cursor: pointer;
    font-size: calc(15px + 1.3vw);
}

.album img {
    max-width: 100%;
    max-height: 100%;
}

.album-info, .album-icons {
    display: inline;
}

.album-img {
    margin-right: calc(5px + 1vw);
    min-height: 85px;
    min-width: 85px;
    height: calc(70px + 3.5vw);
    /*width: calc(70px + 3.5vw);*/
    width: 9%;
}

.album h2 {
    font-size: calc(10px + 0.8vw);
}

.album h3, .settings-section {
    font-size: calc(9px + 0.7vw);
}

.album-info p {
    font-size: calc(8px + 0.6vw);
}

.album-info i {
    margin-right: calc(5px + 1vw);
}
.album-info i span {
    margin-left: calc(2.5px + 0.5vw);
    font-size: calc(10px + 0.6vw);
}

.album-player {
    margin-top: 1vw;
    height: calc(100px + 50vw);
    max-height: 400px;
    width: 100%;
}

.top {
    width: calc(50px + 0.5vw);
    height: calc(50px + 0.5vw);
    border-radius: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(76, 76, 76);
    border: 0;
    position: fixed;
    bottom: calc(30px + 2vw); /* změna scrolování - 17.3.2020 - odstranit*/;
    /*bottom: -80px; změna scrolování - 17.3.2020 - přidat*/
    left: calc(60px + 4vw);
    display: none;
    padding: 0;
}

.top:hover {
    background-color: rgb(86, 86, 86);
}

.top i {
    font-size: calc(15px + 0.5vw);
}

footer p {
    text-align: center;
    padding: calc(10px + 1vw) 0;
}

.loader {
    display: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #1ab26b, #1ab26b);
    margin: auto;
    border-radius: 4px;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    animation: loader 3s ease-in-out infinite;
}

.albums-button, .tracks-button {
    display: inline-block;
}

.month {
    display: none;
}

.playlists, .devices {
    margin-top: calc(5px + 1vw);
    margin-bottom: calc(2px + 0.2vw);
    list-style: none;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.playlists:hover, .devices:hover {
    overflow: auto;
}


.playlist-add, .playlist-default, .device-default, .settings-playlist-position li, .variousart, .youtubemusic {
    padding: calc(5px + 0.5vw);
}

.playlist-add i, .playlist-default i, .device-default i, .variousart i, .youtubemusic i {
    margin-right: calc(5px + 0.5vw);
}

.playlist-add:hover, .playlist-remove, .playlist-default-set:hover, .notifications-set:hover, .playlist-default-remove, .device-default-set:hover, .youtubemusic:hover, .playlist-default:hover, .variousart:hover, .settings-devices li:hover {
    background-color: rgb(18, 18, 18);
}

.playlist-remove:hover, .playlist-default-remove:hover, .device-default-remove:hover {
    background-color: rgb(36, 36, 36);
}

.playlist-remove, .playlist-remove i, .playlist-default-remove, .playlist-default-remove i, .device-default-remove, .device-default-remove i {
    color: #1ab26b;
}

.nav-mobile {
    /*margin-left: 10px;*/
    font-size: 16px;
    display: none;
    cursor: pointer;
}

.nav-mobile:hover i {
    color: #1ab26b;
}

.nav-mobile:hover {
    background-color: rgb(18, 18, 18);
}

.settings-section {
    padding: calc(5px + 1vw);
}

.settings-playlist, .settings-devices, .settings-variousart-showhide, .settings-youtubemusic, .settings-playlist-position {
    padding: 0 calc(2.5px + 0.5vw);
}

.settings-section p {
    margin-top: calc(2px + 0.5vw);
}

.playlists li, .devices li {
    font-size: 16px;
}

.hidden {
    display: none !important;
}

@keyframes loader {
    50% {
        background-size: 80%;
    }
    100% {
        background-position: 125% 0;
    }
}

@media screen and (max-width: 1000px) {
    /*main {
        min-height: 150px;
    }*/
    /*.in-body {
        width: 100%;
    }*/
    .nav-date a, .nav-mobile {
        padding: 10px 15px;
    }
    /*footer .in-body {
        padding-bottom: calc(60px + 0.5vw);
    }*/

}

@media screen and (max-width: 450px) {
    .nav-mobile {
        display: block;
    }
    .nav-hidden .nav-left {
        display: none;
    }
    .nav-date {
        position: absolute;
    }
    .in-main .title {
        margin-left: calc(30px + 0.6vw);
    }
    .top {
        left: auto;
        right: 10px;
        bottom: 50px;
    }
    .page-name h1 {
        display: none;
        padding: calc(5px + 0.5vw) calc(10px + 1vw);
    }
    .in-header .login p {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    main .in-body {
        margin: 0;
        width: 100%;
    }
    .in-main .title {
        margin-left: calc(50px + 0.6vw);
    }
}

@media screen and (max-width: 200px) {
    .album-flex {
        display: inline-block;
    }
}

@media screen and (max-width: 100px) {
    .album-img {
        min-width: 100%;
        min-height: 0px;
        height: auto;
    }
}

@media print {
    * {
        background: white !important;
        color: black !important;
    }
    header, footer {
        display: none;
    }
    /*.in-body {
        width: 100%;
    }*/
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: spin 1.3s linear infinite;
}

.logged-out {
    margin-top: 25px;
}